.formclass{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.flx{
    display: flex;
    gap: 5px;
    font-weight: bold;
}
.flx input{
    width: 2vw;
    border: none;
}

button{
    width: max-content;
    background-color: #8a2b06;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}